<html>
    <head>
        <title><%= title%></title>
    </head>
    <body>

    <form action="/new" method="post">
        
        <input type="text" name="nome"><br>
        <input type="number" name="idade"><br>
        <input type="submit" value="Salvar">
      </form>
    </body>
</html>